/* square buttons */
.rec.rec-arrow {
    box-shadow: none;
    color: white;
    border: none;
    border-radius: none;
    background-color: transparent;
    
}




.rec-arrow{
    transition: all 0.3s ease;
    font-size: 1.7rem !important;
    color: rgb(226, 229, 231) !important;
    width: 2.7rem !important;
    height: 2.7rem !important;
    min-width: 1.7rem !important;
    line-height: 1.7rem !important;
    color: transparent;
    background-color: transparent;
}

.rec.rec.rec-arrow:hover{
    box-shadow: none;
    opacity: 0.8;
    border-radius: none;
   background-color: transparent;
}
/* round buttons on hover */
.rec.rec.rec-arrow:focus{
    box-shadow: none;
    background-color: transparent;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
    visibility: hidden;
}
/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 1px rgb(255, 0, 0);
}
