a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
  
}

/* html {
    overflow-x: initial !important;
  } */

* {
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
}
.nav-wrapper{
    overflow-y: hidden;
}
nav {
    color: #cdcaca;
    padding: 20px;
    max-width: 100vw;
    background-color: #141414;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    justify-content: center;
  
    align-items: center;
    list-style: none;
    text-decoration: none;
    display: flex;
}

.logo {
    flex-grow: 4;
    margin-right: 2em;
}

.avatar_anonym{
    width: 30px;
    height: 30px;
}

.list {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-right: 1em;
}

.list2 {
    margin-right: 2em;
    margin-left: 13em;
    
}

.list3 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 1.5em;
    cursor: pointer;
}

.list3_img {
    width:25px;
}

.list3:hover {
    opacity: 0.8;
}

.avatar {
    width: 40px;
    height: 40px;
    -webkit-filter: brightness(89%);
    filter: brightness(89%);
    cursor: pointer;
}






.card-Login {
    justify-content: center;

    text-align: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    color: #cdcaca;
    background-color: #000000;
}



.loginPage {

    height: 100vh;
    background-color: black;
}

.textfield {
    border-radius: 15px;
    margin-right: 15px;
    color: white;
    width: 400px;

    background-color: rgba(255, 255, 255, 0.07);
}



.loginForm {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070707;
    width: 800px;
    /* border:  1px white dotted; */
    height: 100%;
    margin-left: 2em;
}

.imgEmail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.LoginForm-Text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    color: rgb(200, 200, 200);

}

.loginForm-img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.Warning {
    padding-top: 0.5em;
    opacity: 0.5;
    color: red;
}

.Warning:hover {
    opacity: 0.6;
}

.Jumbotron-Card {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
    background-color: #040B16;
}

.Jumbotron-Card-Image {
    -webkit-filter: brightness(87%);
    filter: brightness(87%);
    padding: 0;
    margin-left: 2em;
    
    display: flex;
    opacity: 0.8;
    cursor: pointer;

}

.Jumbotron-Card-Image:hover {
    opacity: 0.7;
    transition: 500ms;
}


.home {
    background-color: #141414;
    width: 100vw;
    

}

.Text-TypoGrapghy {

    opacity: 0.7;
    color: #b1b2b5;
}

.Text-TypoGrapghy-details {
    font-size: 1.2em;
    opacity: 0.8;
    color: #cbcdd2;
}

.Card-Text {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 40%;
}

.jumbotron-details {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.dot {

    margin-left: 0.4em;
    margin-right: 0.4em;
    height: 5px;
    width: 5px;
    background-color: #b1b2b5;
    opacity: 0.7;
    bottom: 3px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
}


.popular-text {
    margin-left: 3em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

/* Thumbnails */
.Thumbnails-wrapper {
    margin-bottom: 1.3em;
    gap: 0.8em;
    display: flex;
    width: 282px;
    height: 180px;
}

.popular-thumbnails {
    display: flex;
    flex-direction: row;
}

.logo_img{
    width:30px;
}

/* i Frame */


.Yttrailer {





    height: 480px;
    width: 100%;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    top: 0;
    left: 0;

}

.Detail-wrapper {
   
    background-color: #141414;
    height: 100%;
    width: 100vw;
}

.desc-details-wrapper {
    margin-top: 1em;
    margin-left: 3em;
    margin-bottom: 9em;
    margin-right: 3em;
}

.desc-Details {
    margin-bottom: 0.2em;
    color: #cecccc;
}

.card_poster{
    
    margin-bottom: 1.3em;
}

.card_poster:hover {
    transition: 300ms;
    opacity: 0.8;
}

.Header_Jumbotron:hover{
    transition: 300ms;
    opacity: 0.8;
}

.footer-wrapper{
    margin-top: 7em;
    padding-bottom: 5em;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.footer_content_left p{
    margin-bottom: 0.6em;
 color: #808080;
 margin-right: 7em;
}

.footer_content_left_middle p{
    margin-bottom: 0.6em;
    color: #808080;
    margin-right: 7em;
}

.footer_content_right_middle p{
    margin-bottom: 0.6em;
    color: #808080;
    margin-right: 7em;
}

.footer_content_right p{
    margin-bottom: 0.6em;
    color: #808080;
    margin-right: 7em;
}

.service_code{
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    height: 2.5em;
    width: 10em;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 1em;
    border: 1px solid #808080;
}

/* Responsif */


/* login page */


@media all and (max-width:889px){
    .footer-wrapper{
        margin-left: 1em;
        margin-top: 7em;
        padding-bottom: 5em;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .footer_content_left p{
        margin-bottom: 0.6em;
     color: #808080;
     margin-right: 0;
    }
    
    .footer_content_left_middle p{
        margin-bottom: 0.6em;
        color: #808080;
        margin-right: 0em;
    }
    
    .footer_content_right_middle p{
        margin-bottom: 0.6em;
        color: #808080;
        margin-right: 0em;
    }
    
    .footer_content_right p{
        margin-bottom: 0.6em;
        color: #808080;
        margin-right: 0em;
    }
    
    .service_code{
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        height: 2.5em;
        width: 10em;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
        padding: 1em;
        border: 1px solid #808080;
    }

.loginForm{
    width: 100%;
    height: 100em;
}

.card-Login-image img{
   margin: 0;
   padding: 0;
    width: 0%;
    height: 0%;
    visibility: hidden;
   
}

.card-Login-image {
    margin: 0;
    padding: 0;
     width: 0%;
     height: 0%;
     visibility: hidden;
    
 }
.loginForm {
    
    margin-left: 0em;
}

}



@media all and (max-width:666px){
    
    .textfield {
        border-radius: 15px;
        margin-right: 15px;
        color: white;
        width: 300px;
    
        background-color: rgba(255, 255, 255, 0.07);
    }
    
    
    .Thumbnails-wrapper img {
        margin-bottom: 1.3em;
        
        display: flex;
        width:290px;
        height: 160px;
    }

    
    .logo_img{
        width:22px;
    }
    .Card-Text {
     
        width: 0%;
    }
   
/* 
      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -1000px;
        text-align: center;
        transition: all 0.5s;
      }
      nav ul li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;
       
      }
      nav ul li a{
        z-index: 100;
        font-size: 20px;
      } */


nav{
    padding: 0px;
}

      
nav ul li a{
    
  
  
   font-size: 12px;
   width: 100vw;
}




.logo {
    flex-grow: unset;
 
    margin-right: 0.3em;
}

.list {
 
  
    margin-right: 0.5em;
    flex-grow: unset;

}

.list2 {
    flex-grow: unset;
    font-size: 12px;
   margin: 0px;

}

.list3 {

  
   margin: 0px;
    cursor: pointer;
}
.list3_img {
    margin-left: 0.4em;
    width:18px;
}

.avatar {
    margin-left: 0.4em;
    width: 22px;
    -webkit-filter: brightness(89%);
    filter: brightness(89%);
    cursor: pointer;
}
.avatar_anonym{
    width: 22px;
    height: 22px;
}


}


@media all and (max-width:365px){
    .textfield {
        border-radius: 15px;
        margin-right: 15px;
        color: white;
        width: 250px;
    
        background-color: rgba(255, 255, 255, 0.07);
    }
    .list2 {
        flex-grow: unset;
        font-size: 9px;
       margin: 0px;
    
    }

    .avatar_anonym{
        width: 20px;
        height: 20px;
    }
    .list {
 
       
        margin-right: 0.4em;
        flex-grow: unset;
    
    }
    /* 
          ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #2c3e50;
            top: 80px;
            left: -1000px;
            text-align: center;
            transition: all 0.5s;
          }
          nav ul li{
            display: block;
            margin: 50px 0px;
            line-height: 30px;
           
          }
          nav ul li a{
            z-index: 100;
            font-size: 20px;
          } */
    
    
    
    
          
    nav ul li a{
        
      
      
       font-size: 9px;
       width: 100vw;
    }
    
    .logo_img{
        width:20px;
    }

}